{% extends 'Nimap_temp\base.html' %}
{% load static %}

{% block title %}
<title>about Page</title>
{% endblock title %}

{% block body %}

{% if messages %}

    {% for msg in messages %}
        <p {% if msg.tags %} class="p-3 alert-{{msg.tags}}"{% endif %}>{{msg}}</p>
    {% endfor %}

{% endif %}

<div>
    
    <div class="container text-center border mt-3 shadow">
        <h1 class="text-primary">About Us</h1>
    </div>

    <div class="container text-center border mt-3 shadow mb-3 p-4">

        <h1 class=""> This Is Demo About Us Page</h1>

    </div>

</div>

{% endblock body %}
